.svg_icon1.visible {
    opacity: 1; /* Diventa visibile */
    transform: scale(1); /* Torna alla dimensione normale */
}

.svg_icon2.visible {
    opacity: 1; /* Diventa visibile */
    transform: scale(1); /* Torna alla dimensione normale */
}

.svg_icon3.visible {
    opacity: 1; /* Diventa visibile */
    transform: scale(1); /* Torna alla dimensione normale */
}

.text_block1.visible {
    opacity: 1; /* Diventa visibile */
    transform: scale(1); /* Torna alla dimensione normale */
}


.text_block2.visible {
    opacity: 1; /* Diventa visibile */
    transform: scale(1); /* Torna alla dimensione normale */
}

.text_block3.visible {
    opacity: 1; /* Diventa visibile */
    transform: scale(1); /* Torna alla dimensione normale */
}

.title.visible{
    opacity: 1; /* Diventa visibile */
    transform: scale(1); /* Torna alla dimensione normale */
}

.smartphone.visible{
    opacity: 1; /* Diventa visibile */
    transform: scale(1); /* Torna alla dimensione normale */
}

.profile_image1.visible{
    opacity: 1; /* Diventa visibile */
    transform: scale(1); /* Torna alla dimensione normale */
}

.profile_image2.visible{
    opacity: 1; /* Diventa visibile */
    transform: scale(1); /* Torna alla dimensione normale */ 
}

.profile_image3.visible{
    opacity: 1; /* Diventa visibile */
    transform: scale(1); /* Torna alla dimensione normale */
}

.profile_description1.visible{
    opacity: 1; /* Diventa visibile */
    transform: scale(1); /* Torna alla dimensione normale */
}

.profile_description2.visible{
    opacity: 1; /* Diventa visibile */
    transform: scale(1); /* Torna alla dimensione normale */
}

.profile_description3.visible{
    opacity: 1; /* Diventa visibile */
    transform: scale(1); /* Torna alla dimensione normale */
}